/* Universal styles */

html {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Header */

header {
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {
  padding-left: 1rem;
}

.mobile {
  display: none;
}

/* Main container general styles */

.main-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.section {
  max-width: 100%;
  display: flex;
}

/* Banner */



/* Content */


.col-left {
  width: 60%;
  padding: 2 1.5rem;
}

.col-right {
  width: 40%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.item-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-main .image {
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
}

.item .image {
  width: 35%;
}

.item .description {
  width: 65%;
}

  #banner {

  }

  #information {

  }

  #courses {

  }

  #thesis {

  }

video {
  max-width: 100%;
  height: auto;
}
