/* Universal styles */

html {
  font-size: 16px;
}

/* Header */

header {
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {
  padding-left: 1rem;
}

.mobile {
  display: none;
}

/* Banner */


/* Content */

.main-block {
  width: 100%;

}

.col-left {
  width: 60%;
  padding: 2 1.5rem;
}

.col-right {
  width: 40%;
  padding-top: 2rem;  
}

  #banner {

  }

  #information {

  }

  #courses {

  }

  #thesis {

  }
