/* Universal styles */

html {
  font-size: 16px;
}

body {
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Header */

header {
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {
  padding-left: 1rem;
}

.mobile {
  display: none;
}

/* Main container general sizing and positioning */

.main-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.section {
  max-width: 100%;
  margin: auto;
}

.two-columns {
  display: flex;
  padding: 2rem 0;
}

.two-columns .col-left {
  width: 60%;
  padding: 0 1.5rem;
}

.two-columns .col-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.heading-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-row .heading {
  padding-top: 2rem;
}

.extra-padding {
  padding: 2rem 4.5rem
}

.description p {
  margin-top: 0.5rem;
}

/* Banner */

#banner .col-right {
  justify-content: center;
}

.banner-text {
  margin-left: 1rem;
  width: 80%;
}

.banner-text h1, .banner-text p {
  margin-bottom: 2rem;
}

  /* Button */

  .button {
    background-color: lightgrey;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
  }


/* Information */

.description h2 {
  margin: 2rem 0 1rem 0;
}

#subtext {
  margin-top: 1.5rem;
}

.item-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-main .image {
  width: 100%;
}

.item {
  max-width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:first-child {
  padding-top: 0;

}

.item .image {
  width: 35%;
  padding-right: 1rem;
}

.item .description {
  width: 65%;
  text-align: left;
}

.item .description p a {
  color: lightblue;
}

/* Courses */

.course-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-container .row {
  display: flex;
  justify-content: space-between;
}

.course-container .course {
  flex: 1;
}

.course:nth-child(odd){
  margin: 0 2rem;
}

.course .description p {
  padding-top: 0.5rem;
}

.row:first-child {
  margin-bottom: 2rem;
}

.course-container .course .description {
  padding: 1rem;
}


/* Thesis */

video {
  max-width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}

/* Footer */

footer {
  margin: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terms ul {
  display: flex;
}

.terms li {
  margin-left: 1rem;
}
